@model IEnumerable<ProvaDojo.Models.Aluno>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Aluno</th></tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr><td>@Html.ActionLink(@aluno.Nome, "Details", new { aluno.id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum aluno no momento.</p>
}