@model IEnumerable<ProvaDojo.Models.TipoDeAssociacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipos de Associação</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Tipos de Associação</th></tr>
        </thead>
        <tbody>
            @foreach (var tipos in Model)
            {
                <tr><td>@Html.ActionLink(@tipos.Nome, "Details", new { tipos.id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum tipo de associação no momento.</p>
}