@model ProvaDojo.Models.Faixa
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<ul>
    <li>Nome: @Model.Nome</li>
    <li>Grau: @Model.Grau</li>
</ul>