@model IEnumerable<ProvaDojo.Models.Faixa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Faixas</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Faixa</th></tr>
        </thead>
        <tbody>
            @foreach (var faixa in Model)
            {
                <tr><td>@Html.ActionLink(@faixa.Nome, "Details", new { faixa.id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma faixa no momento.</p>
}